NODE_ENV=development
PORT=3000
CORS_ORIGIN=*

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/garden_sn?schema=public"

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1d

MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
